<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Component template</title>
</head>
<body>
	<div class="container" id="app">
		<app-persona :person="personas"></app-persona>
		<br>
		<pre>{{$data | json}}</pre>
	</div>
		<template id="template-ganador">
			<div>
				<h1 v-if='ganador'>El Ganador es: {{ganador}}</h1>
 				<template v-else>
				  <h1>Participantes</h1>
	              <ul>
	          	    <li v-for="persona in person">{{persona}}
	          	    </li>
	              </ul>
 				</template>
 				<button class="btn btn-primary" @click='elegirGanador'>Elegir Ganador</button>
			</div>
		</template>

	<br>
	<br>
	<br>
<!--============================================================-->

	<div class="container" id="app24">
		
		<app-tarea :job='tareas'></app-tarea>


		<pre>{{$data | json}}</pre>

	</div>
	<template id="template-tareas">
		<div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-5 col-lg-offset-3 col-lg-5">
			<h2>ToDo App</h2>
			<!--Formulario -->
			<form action="" class="form" @submit.prevent="addTarea(insertarTarea)">
				<div class="input-group">
					<input type="text" class="form-control" v-model="insertarTarea">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-plus"></span>Añadir tarea</button>
					</span>
				</div>
			</form>
			<!--Listado de tareas -->
			<ul class="list-group">
				<li class="list-group-item clearfix" v-for="(tarea,index) in job">
					<p class="lead" :class="{'completado':tarea.completado}">
						{{tarea.titulo}}
					</p>
					<div class="form-group">
						<input type="text" class="form-control" v-show="editandoTarea===index" v-model="tarea.titulo" @blur="editandoTarea=null,editarTarea(tarea)">
					</div>
					<div>
						<span class="pull-right">
							<button class="btn btn-default xs" @click="editandoTarea=index">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>

							<button class="btn btn-default xs" v-show="editandoTarea===index" @click="editandoTarea=null,editarTarea(tarea)">
								<span class="glyphicon glyphicon-floppy-saved"></span>
							</button>

							<button class="btn btn-primary xs" @click="tarea.completado=true">
								<span class="glyphicon glyphicon-ok"></span>
							</button>

							<button class="btn btn-primary xs" @click="tarea.completado=false">
								<span class="glyphicon glyphicon-repeat"></span>
							</button>

							<button class="btn btn-danger xs" @click="removerTarea(tarea,index)">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</span>
					</div>
				</li>
			</ul>
		</div>
	</template>

	<script src="js/vue.js"></script>
	<script src="js/app1.js"></script>
</body>
</html>